<div>
    <img src="/images/beer.png" alt="beer-logo">
</div>
<div>
    <a class="button-beers" href="/beers">Check out the Beers!</a>
    <a class="button-random" href="/random-beer"> Check out a Random Beer!</a>
</div>