<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link rel='stylesheet' href='stylesheets/styles.css' />
  </head>
  <body class='home'>
    <nav class='site-nav'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/beers'>Beers</a></li>
        <li><a href='/random-beer'>Random Beer</a></li>
      </ul>
    </nav>

    {{{body}}}

    <div class='site-body'>
      <div class='container'>
        <img src='beer.png' alt='Beer Image' class='beer-image' />
        <a href='/beers' class='button-beers'>Check the Beers</a>
        <a href='/random-beer' class='button-random'>Check out a random beer</a>

      </div>
    </div>
  </body>
</html>